<div class="global-search-widget">

    <form class="search" method="post" action="index.html">
        <input class="global-search-form-text" type="text" name="item" value="" placeholder="Search..." />

        <div class="result-set">

        </div>        
        
    </form>
</div>